body {
    font-family: Arial;
    font-size: 12pt;
    color: blue
}

.sTexteCentre {
    text-align: center
}

.sLargeurDiv {
    width: 500px;
    padding-left: 10px;
}

.sEntete {
    background-color: #D0D0D0;
    margin-bottom: 5px;
    border-bottom-width: 2px;
    border-bottom-style: solid
}

.PiedDePage {
    background-color: #D0D0D0;
    margin-top: 5px;
    border-top-width: 2px;
    border-top-style: solid;
}

.sCorps {
    background-color: #b3ffb3;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    color: darkred;
}

.sTitreApp {
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline;
}

.sAuteurApp {
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold
}

th {
    text-align: right
}

input, select, option {
    background-color: #D0D0D0;
    color: blue;
}

input {
    font-size: 110%;
    font-variant: small-caps;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: red;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a:link img, a:visited img {
    border: none;
}

a:hover img {
    border-style: double;
    border-width: 2px;
    border-color: green;
}

input[type="text"]:focus, select:focus {
    border-style: outset;
}

#lblResultats {
    border-style: double;
    width: 490px;
    border-color: #D0D0D0;
    border-style: groove;
}
